body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 2em;
  background-color: #EDEDED;
}

h1, h2, h3, h4, h5, h6 {
  color: #2f4f6f;
  border-bottom: 1px solid #929CA4;
}

body p:first-of-type::first-letter {
  font-size: 30px;
  text-transform: lowercase;
  font-weight: normal;      
}

.solution {
  color: #CC1C0D;
  font-weight: bold;
}

#testimonial1,
#testimonial2 {
  font-style: italic;
  margin-left: 50px;
}

a[href^="http"]:link {
  color: #0056b3;
  text-decoration: underline;
}
a[href^="http"]:visited {
  color: #6a0dad;
  text-decoration: underline;
}
a[href^="http"]:hover {
  color: #cc0000;
  text-decoration: none;
}
a[href^="http"]:active {
  color: #000000;
  text-decoration: underline wavy;
}


ul {
  list-style: none;
  padding-left: 0;   
  margin-left: 0;    
}
ul li {              
  padding-left: 0;
  margin-left: 0;
}

ul li:first-child {
  color: blue;
}

ul li:last-child {
  color: red;
}
